{% extends 'base.html.twig' %}

{% block title %}Ver Casa{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="sufee-alert alert with-close alert-{{ label }} alert-dismissible fade show">
                {% if label=="danger" %}
                    <span class="badge badge-pill badge-{{ label }}">Error</span>
                {% endif %}
                {% if label=="success" %}
                    <span class="badge badge-pill badge-{{ label }}">Exito</span>
                {% endif %}
                {% if label=="warning" %}
                    <span class="badge badge-pill badge-{{ label }}">Advertencia</span>
                {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container-fluid">
        <a href="{{ path('house_edit',{'id':house.id}) }}" class="btn pull-right close m-4">
            <i class="zmdi zmdi-edit"></i>&nbsp; Editar</a>
        <div class="user-data m-b-30">
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-account-calendar"></i>Mi Casa: {{ app.user.person.fullName }}
            </h3>

            <div class="row card-body">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">

                            <div id="map" style="height: 400px;width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="mx-auto d-block p-3">
                            <img height="400px" width="400px" class="mx-auto d-block" src="{{ asset('uploads/photos/'~house.photo)|default(asset('assets/images/icon/avatar-big-01.jpg')) }}" alt="Card image cap">
                        </div>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ house.id }}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ house.name }}</td>
                                </tr>
                                <tr>
                                    <th>Latitud y Longitud</th>
                                    <td>{{ house.latitude }}, {{ house.longitude }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <h3>Cuartos</h3>
            </div>
            <div class="card-body">
                <div class="row">

                    {% if house.rooms is not null %}
                        {% for room in house.rooms %}
                            <div class="col-md-3">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('assets/images/bg-title-01.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ room.name }}</h4>
                                        <p>Habitacion Agregada</p>
                                        <div class="table-data-feature">
                                            <a href="{{ path('room_edit', { 'id': room.id }) }}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a href="{{ path('room_show', { 'id': room.id }) }}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Administrar">
                                                <i class="zmdi zmdi-settings"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% else %}

                        {% endfor %}
                    {% endif %}


                    {#<div class="col-md-3 card align-middle">#}
                        <div class="m-4">
                            <a href="#" type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">
                                <img height="200px" width="200px" src="{{ asset('assets/img/add-icon.png') }}"><br>
                                <b class="text-center align-items-center align-content-center text-lg-center">Agregar mas</b>
                            </a>
                        </div>
                    {#</div>#}

                </div>



            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar un Nuevo Cuarto</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="text-black-50">Agrega un nuevo cuarto y selecciona a que domicilio pertenece.</p>
                    {{ render(controller('AppBundle:Room:new')) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/gmap-house.js') }}"></script>
    <script>
        $(document).ready(function () {
            lat='{{ house.latitude }}';
            long='{{ house.longitude }}';
            loadStoredMarker(lat,long);

            $('#mediumModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
        });
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ-5siJeJh7kO5hYqC1w8pU5c8PF40_QA&libraries=places&callback=initMap"
            defer
    >
    </script>
{% endblock %}