<!-- MENU SIDEBAR-->
{% set roomsCount = 0 %}
<aside class="menu-sidebar2">
    <div class="logo">
        <a href="{{ path('home') }}">
            <img src="{{ asset('assets/images/icon/logo-white.png') }}" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                {% if app.user.person is not null %}
                <img src="{{ asset('uploads/photos/'~app.user.person.photo)|default(asset('assets/images/icon/avatar-big-01.jpg')) }}" alt="John Doe" />
                {% else %}
                    <img src="{{ asset('assets/images/icon/avatar-big-01.jpg') }}" alt="John Doe" />
                {% endif %}
            </div>
            <h4 class="name">{{ app.user.person.fullName|default(app.user.username) }}</h4>
            <a href="{{ path('fos_user_security_logout') }}">Cerrar Sesion</a>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list nav_home">
                <li>
                    <a href="{{ path('home') }}">
                        <i class="fas fa-globe"></i>Inicio</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-list"></i>Casas
                        <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{{ path('house_index') }}">
                                <i class="fas fa-eye"></i>Ver Todos</a>
                        </li>
                        {% if app.user.person is not null %}
                        {% for house in app.user.person.getHouses %}
                            <li>
                                <a href="{{ path('house_show', {'id':house.id}) }}">
                                    <i class="fas fa-home"></i>{{ house.name }}</a>
                            </li>
                            {% set roomsCount = roomsCount+house.rooms|length %}
                        {% else %}
                            <li>
                                <a href="{{ path('house_new', {'id':app.user.person.id}) }}">
                                    <i class="fas fa-tachometer-alt"></i>No tienes Casas Registradas</a>
                            </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('room_index') }}">
                        <i class="fas fa-flag"></i>Cuartos</a>
                    <span class="inbox-num">{{ roomsCount|default(0) }}</span>
                </li>
                <li class="has-sub">
                    <a class="btn disabled">
                        <i class="fas fa-lock"></i>Alarmas
                        <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                    </a>
                    {#<ul class="list-unstyled navbar__sub-list js-sub-list">#}
                        {#<li>#}
                            {#<a href="table.html">#}
                                {#<i class="fas fa-table"></i>Lista</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="map.html">#}
                                {#<i class="fas fa-map-marker-alt"></i>Maps</a>#}
                        {#</li>#}
                    {#</ul>#}
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>Informacion
                        <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="button.html">
                                <i class="fas fa-info-circle"></i>FAQ</a>
                        </li>
                        <li>
                            <a href="badge.html">
                                <i class="fas fa-file"></i>Terminos y Condiciones</a>
                        </li>
                        <li>
                            <a href="tab.html">
                                <i class="fas fa-phone-square"></i>Contactanos</a>
                        </li>
                        <li>
                            <a href="card.html">
                                <i class="far fa-id-card"></i>Acerca de</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->