{% extends 'base.html.twig' %}

{% block title %}Editar Cuarto{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1>Editar: {{ room.name }}</h1>

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="au-btn au-btn--block au-btn--green m-b-20" type="submit" value="{{ 'save'|trans }}" />
                {{ form_end(edit_form) }}
            </div>
        </div>

    </div>

    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <a class="au-btn au-btn--blue2 btn-sm" href="{{ path('house_show',{'id':room.idHouse.id}) }}">Regresar</a>
            <a class="au-btn btn-danger btn-sm m-t-5" href="{{ path('room_delete2',{'id':room.id}) }}">Eliminar</a>
        </div>
    </div>

{% endblock %}
